DirectoryIndex homepage.html index.html

RewriteEngine On

# Allow clean URLs without .html extension (e.g. /puppies or /homepage or /contact)
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html [L]
